@import "../abstracts/variables";

.text {
    &.primary {
        color: $primary-color;
    }

    &.secondary {
        color: $secondary-color;
    }

    &.success {
        color: $success-color;
    }

    &.warning {
        color: $warning-color;
    }

    &.alert {
        color: $alert-color;
    }
}
