@page "/tabs"

<h1>Tabs</h1>

<TabSet>
    <Tab Title="First tab">
        <h4>First tab</h4>
        <p>This is the first tab. Parting prose fame but are whateer and who isle ah what he from blast his before of night of did</p>
        <p>Intendo esperienza sé siamo come che ingannati cose con pregator cose da esso che di la né con quale del</p>
        <p>Rougeoyant m'ont sidéraux pourrit entonnoirs cibles et cerveaux avaient aux t'exiles enlever des noirs est trombes des exaltée enfants de m'a flot des soleil que a lâche sanglot dormir lâche ont et et sentant a torpeurs soleil crevant lunules le horribles sur avec un fini d'incroyables ainsi pas sont les jeté savez-vous ainsi guidé de ma blés un des qu'aux les triques pieds je sures de perdu ne hippocampes drapeaux des montrer de et flamands fortes par les j'ai mers descendais a trouais de plus rouleurs mais les poetes sanglot est-ce frele voiliers dont les lactescent les mers faisaient des</p>
    </Tab>

    @if (showSecondTab) {
        <Tab Title="Second">
            <h4>Second tab</h4>
            <p>You can toggle me. Consetetur amet sadipscing duis quod te invidunt laoreet dolore sed takimata lorem facilisis magna est nonumy dolore diam sit stet kasd at labore eleifend sed consequat eirmod accumsan justo amet justo et mazim ea sanctus rebum iriure dolor magna sit</p>
            <p>E della purita di che cospetto maravigliose liberalita iscacciato niuno facitore suo se segreto propria senza e che trapassare mortali</p>
            <p>Jaillir face frémir parce quel lits vit yeux hélas parfaite loisirs faudra faite adorablement loisirs mystérieux la non le dans bonheur approchons mignard pontife somptueux l'art son la face mal ce décor un pour ton quel dit quel mais sur regard adorablement vainqueur c'est la qu'elle mal véritable fatale vois pontife dans ment la son doué doué pourquoi fait fait dont faudra sur trôner fait tete beauté toujours gentillesse yeux un son contemplons aboutit beauté charme vraiment vainqueur soucieux visage tete moqueur le encadré de a qu'elle ce vit etre florentines mais cette voici ronge tout vivre fin et son</p>
        </Tab>
    }

    <Tab Title="Third">
        <h4>Third tab</h4>

        <label>
            <input type="checkbox" bind="@showSecondTab"/>
            Toggle second tab
        </label>

        <p>Beato beati riguardando niuno se in ripararci noi a e speranza alli tutte in principio trapassare di quali prieghi tutte</p>
        <p>Dico dell'occhio volta eterni fallo dio divina quali piú 'l quale da in che il i trapassare sua tutte apparire</p>
        <p>A kapjatok hontalan hû nagyon fáj kerüljetek ér amit néma lásd úgy lágy hol s amíg szerelemben tátogjatok rettent hisz nõk is de úgy öszetörjetek megriadt a világ kapjatok még hisz kert ölel alatt úgy neki menekülsz fáj nap ép alatt nagyon s térde nemcsak kivül rettent de szegezd hogy megtépve minden bukjatok ne fehérül muszáj s s vakogjatok lovak el akadt minden kábít olyat magára velem szükségét a enyhíthet menekülõ alá a nagyon s egymást mint amíg meg férfiak de kínt kettõs amíg öszetörjetek de kettõs gondom terhetek hallja leselkedõ megremeg minden ott él érte húzzatok s meg viselõk</p>
    </Tab>
</TabSet>

@functions
{
    bool showSecondTab;
}