@inherits BlazorLayoutComponent

<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12 medium-shrink navigation">
            <NavMenu />
        </div>
        <div class="cell small-12 medium-auto main-content">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>