@page "/tiles"
@inherits TilesPageModel

<h1>Tiles</h1>

<div class="callout success emphasize radius @ShowIf(Loading)">Loading...</div>

<Tiles Class="tilesContainer" OriginalTiles="@OriginalTiles"></Tiles>