@inherits BlazorComponentStateful<CryptoWatchCard>
<fieldset class="callout currency-widget">
    <legend>@Data.Name</legend>
    <div>
        <p>
            @Data.Value
        </p>
    </div>
</fieldset>