@import "../../../node_modules/foundation-sites/scss/prototype/shadow";
@import "../../../node_modules/foundation-sites/scss/prototype/rounded";
@import "../../../node_modules/foundation-sites/scss/util/breakpoint";
@import "../abstracts/variables";

.navigation {
    .mobile-nav-bar {
        background-color: $primary-color;
        position: absolute;
        top: 0;
        width: 97%;

        .menu-icon {
            margin-top: -5px;
        }

        a {
            color: $white;
        }

        @include breakpoint(640px) {
            position: relative;
            top: 0;
            width: 100%;
        }
    }

    .navbar-spacer {
        height: 3em;

        @include breakpoint(640px) {
            height: 1em;
        }
    }

    ul.menu a {
        font-weight: 500;
    }


    ul.menu a.active {
        @include shadow();
        @include border-radius();
        color: $secondary-color;
    }

    @include breakpoint(medium) {
        min-height: 30em;

        .navbar-toggler {
            display: none;
        }

        .nav-menu.collapsed {
            /* Never collapse the sidebar for wide screens */
            display: block;
        }
    }
}
