@import "../../../node_modules/foundation-sites/scss/global";

$masonry-css-column-gap: $global-margin;

.masonry-css {
    column-count: 1;
    column-gap: $masonry-css-column-gap;

    @include breakpoint(568px) {
        column-count: 2;
    }

    @include breakpoint(640px) {
        column-count: 1;
    }

    @include breakpoint(667px) {
        column-count: 2;
    }

    @include breakpoint(1024px) {
        column-count: 3;
    }
}

.masonry-css-item {
    break-inside: avoid;
    margin-bottom: $masonry-css-column-gap;
}

.tile {
    margin-bottom: 1em;

    .card-section a {
        float: right;
    }
}
