@page "/tabs"

<style>
    .nav-tabs .nav-link {
        background-color: #f9f9f9;
        border-bottom-color: #dee2e6;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .nav-tabs .active {
        background-color: white;
        border-bottom: 1px solid transparent;
        border-top: 4px solid #e0108b !important;
        padding-top: 5px;
    }

    .nav-tabs > li { margin-bottom: -1px; }

    .nav-tabs-body {
        border: 1px solid #dee2e6;
        border-top-width: 0;
    }
</style>

<h1>Tabs</h1>

<TabSet>
    <Tab Title="First tab">
        <h4>First tab</h4>
        This is the first tab.
    </Tab>

    @if (showSecondTab) {
        <Tab Title="Second">
            <h4>Second tab</h4>
            You can toggle me.
        </Tab>
    }

    <Tab Title="Third">
        <h4>Third tab</h4>

        <label>
            <input type="checkbox" bind="@showSecondTab"/>
            Toggle second tab
        </label>
    </Tab>
</TabSet>

@functions
{
    bool showSecondTab;
}