@inherits ValidationSummaryModel
@if (HasValidationFailures) {
    <div class="text-danger">
        <ul>
            @foreach (var error in ValidationFailures) {
                <li>@error</li>
            }
        </ul>
    </div>
}