@typeparam TItem
@inherits ValidationSummaryModel<TItem>
@if (HasValidationFailures) {
    <div class="validationSummary @Class">
        <ul>
            @foreach (var failure in ValidationFailures) {
                <li><i class="fi-alert"></i> @failure</li>
            }
        </ul>
    </div>
}