@typeparam TItem
@inherits ValidationSummaryModel<TItem>
@if (HasValidationFailures) {
    <div class="@Class">
        <ul>
            @foreach (var failure in ValidationFailures) {
                <li>@failure</li>
            }
        </ul>
    </div>
}