<div class="callout primary shadow radius">
    <a href="/">OpenGraph Tilemaker</a>
    <button class="navbar-toggler button tiny secondary float-right" onclick="@ToggleNavMenu">
        <i class="fi-list"></i>
    </button>
</div>

<div class="nav-menu @(CollapseNavMenu ? "hidden" : null)" onclick="@ToggleNavMenu">
    <ul class="vertical menu">
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                <i class="fi-home"></i> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="tiles">
                <i class="fi-thumbnails"></i> Tiles
            </NavLink>
        </li>
        <li>
            <NavLink href="form">
                <i class="fi-results"></i> Form
            </NavLink>
        </li>
        <li>
            <NavLink href="tabs">
                <i class="fi-comments"></i> Tabs
            </NavLink>
        </li>
        <li>
            <NavLink href="dynamicrender">
                <i class="fi-graph-trend"></i> Dynamic Render
            </NavLink>
        </li>
        <li>
            <NavLink href="counter">
                <i class="fi-database"></i> Counter
            </NavLink>
        </li>
        <li>
            <NavLink href="fetchdata">
                <i class="fi-list-thumbnails"></i> Fetch data
            </NavLink>
        </li>
    </ul>

    <hr class="show-for-small-only"/>
</div>

@functions {
    private bool CollapseNavMenu { get; set; } = true;

    void ToggleNavMenu() {
        CollapseNavMenu = !CollapseNavMenu;
    }

}