<div class="callout emphasize warning radius">
    <span class="fi-pencil" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please take our
        <a target="_blank" href="https://go.microsoft.com/fwlink/?linkid=2026993">brief survey</a>
    </span>
    and tell us what you think.
</div>

@functions {

    [Parameter]
    string Title { get; set; }

}