@page "/dynamicrender"

<p>
    <button type="button" onclick="@(() => ShouldRender())">
        Trigger rendering (i.e. makes text longer)
    </button>
</p>

<p>@DynamicFragment</p>

<p>Lorem ipsum...</p>

@functions {
    private string dynamicContent = "This is a long text...";

    protected override void OnInit() {
        DynamicFragment = builder => {
            if (dynamicContent.LastIndexOf("long", StringComparison.Ordinal) > 5000) {
                dynamicContent = "This is a long text...";
            }

            dynamicContent = dynamicContent.Replace("long", "long long");

            builder.OpenElement(1, "p");
            builder.AddContent(2, dynamicContent);
            builder.CloseElement();
        };
    }

    private RenderFragment DynamicFragment { get; set; }
}