@page "/"
@namespace Experiment.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlazorExperiments</title>
    <base href="/" />
    <link href="css/site.min.css" rel="stylesheet" />
</head>
<body>
    <app id="myApp">@(await Html.RenderComponentAsync<App>())</app>

    <script src="js/site.js"></script>
    <script id="blazorMode"></script>
    <script src="_framework/blazor.server.js"></script>
    <script>
        window.exampleJsFunctions = {
            showPrompt: function (text) {
                return prompt(text, 'Type your name here');
            },
            displayWelcome: function (welcomeMessage) {
                document.getElementById('welcome').innerText = welcomeMessage;
            },
            returnArrayAsyncJs: function () {
                DotNet.invokeMethodAsync('BlazorSample', 'ReturnArrayAsync')
                    .then(data => {
                        data.push(4);
                        console.log(data);
                    });
            },
            sayHello: function (dotnetHelper) {
                return dotnetHelper.invokeMethodAsync('SayHello')
                    .then(r => console.log(r));
            }
        };
    </script>

</body>
</html>
